@(categories: CategoryForm, documents: List[Document])

@main(categories, "Список документов") {
    <div class="jumbotron">
        <h1>Список документов</h1>


        <p><a class="btn btn-lg btn-success" href="@routes.DocumentsController.showUpload(categories.active.id)">Загрузить</a></p>
    </div>
} {
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Документ</th>
                <th>Версия</th>
                <th>Дата обновления</th>
                <th>Автор версии</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        @for(document <- documents) {
            <tr>
                <td>@document.id</td>
                <td>@document.name</td>
                <td>12.1</td>
                <td>2013-10-11</td>
                <td>ekabin</td>
                <td><a href="@routes.DocumentsController.download(document.id)">Download</a></td>
            </tr>
        }
        </tbody>
    </table>
}