@(categories: CategoryForm, documents: List[(Document, Version)])

@main(categories, "Список документов") {
    <div class="jumbotron">
        <p><a class="btn btn-lg btn-success" href="@routes.DocumentsController.showUploadToCategory(categories.active.get.id)">Загрузить</a></p>
    </div>
} {
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Документ</th>
                <th>Версия</th>
                <th>Дата обновления</th>
                <th>Автор версии</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        @for(document <- documents) {
            <tr>
                <td><a href="@routes.DocumentsController.show(document._1.id)">@document._1.id</a></td>
                <td>@document._1.name</td>
                <td>@document._2.version</td>
                <td>@document._2.date</td>
                <td>ekabin</td>
                <td><a href="@routes.DocumentsController.download(document._1.id)">Download</a>
                    <a href="@routes.VersionController.update(document._1.id)">Update</a></td>
            </tr>
        }
        </tbody>
    </table>
}