@(categories: CategoryForm, title: String)(head: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Список документов</title>

            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/jumbotron-narrow.css")" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="#">Анонсы</a></li>
                    <li class="active"><a href="@routes.Application.index">Документы</a></li>
                    <li><a href="#">Пользователи</a></li>
                </ul>
                <h3 class="text-muted pull-left">Категории</h3>
                <ul class="nav nav-pills pull-left" style="margin-left: 10px;">
                    @for(category <- categories.categories) {
                        <li @if(category.id == categories.active.getOrElse(new Category(0,"")).id) {class="active"}><a href="@routes.CategoryController.category(category.id)">@category.name</a></li>
                    }
                    <li><a href="@routes.CategoryController.addForm">+</a></li>
                </ul>
            </div>

            @head

            <div class="row marketing">
            @content
            </div>

            <div class="footer">
                <p>&copy; AT-Consulting 2013</p>
            </div>
        </div>
    </body>
</html>